# .pyc files
*.pyc

# the output of TAT interface
TAT/D3/

# dotx files
*.dotx

# doc files
*.doc

# tif files
*.tif

# swp files
*.swp

# mp4 files
*.mp4

# zip files
*.zip

# netcdf files
*.nc

# Tide files
*_v1

# zipped files
*.Z
*.gz

#ignore .jupyter chekpoints folder
.ipynb_checkpoints/

# all temp folders
tmp/

#ignore notebook output folders
Jupyter/mnt/
Jupyter/tmp/
Jupyter/temp/
Jupyter/__pycache__/
Jupyter/Notebooks/tmp/

# TIDE OTPS folders
TIDES/OTPS2
TIDES/OTPSnc
TIDES/matlab
